body
{
	background-color:#003854;
}

p
{
	color:#FFFF01;
	font-family: Helvetica;
}

h1,h2,h3
{
	background-color:#FF9A1F;
	font-family: Cursive;
	text-align:center;
}

h4
{
	color: #FFC745;
	font-family: Arial;
}
ol,ul
{
	color: #FFE22D;
}

table
{

	background-color: #6B8DF2;
	width: 500px;
	height: 150px;
	text-align:center;
	color: #1F1A01;
	font-size: 25px;
}

#images
{
	text-align: center;
}	